.header{
background-color:rgb(211, 22, 22);
    height:auto ;
    width: 100%;
}
.backgroundimg-div{
    width: 100%;
     background-image:linear-gradient(rgba(110, 106, 102, 0.37),rgba(177, 158, 145, 0.137) ), url(../img/resturant22.jpg);
     background-repeat:no-repeat;
     background-size: cover; 
     height: 680px;
}
.bg-title{
    background-color: red;
    display:inline-block;
     margin-top: 300px; 
     margin-left: 24px;
     font-size: large;
     color:whitesmoke;
    
}
 .bg-text11{
    font-family:Arial, Helvetica, sans-serif;
     font-size: 3em;
    padding-left: 20px;
     padding-top: 0px;


}
.bgtextbtn{
    margin-left: 18px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    
    
}
#menu{
    scroll-behavior: smooth;
}
.menulogo{
    text-align: center;
    background-color: rgb(212, 47, 47);
}
 .card {
margin-left: 20px;
margin-right: 20px; 

}
.col1h1{
    margin: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;

}
.firstcolumn{
    margin-top:30px ;
}
.col1{
justify-items: center;

}
.card1btn{
text-align: right;
margin: 5px;
}
.card1btn :hover{
    background-color:white;
    color: rgb(196, 8, 8);
    border: 2px solid rgb(211, 22, 22)}
    .footer {
    background: rgb(212, 47, 47);
    color: #fff;
    padding: 40px 60px 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serief;
}
.footer {
    margin-top: 50px;
    background-color: #665e5e;
    /* background: rgb(212, 47, 47); */
    color: #fff;
    padding: 40px 60px 20px;}
 /*content  */
.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 50px;
}
    .footer-col h4 {
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer-col ul {
    list-style: none;
}
.footer-col ul li {
    margin-bottom: 12px;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
}

.footer-col ul li:hover {
    color: #fff;}

 .footer-col h4 {
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    color: whitesmoke;  /* heading color changed */
}
/* Social */
.social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

    /* Bottom */
.footer-bottom {
    border-top: 1px solid #333333;
    padding-top: 15px;
    text-align: center;
}
.footer-bottom p {
    font-size: 13px;
    color: #aaa;
}
.footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}
.footer-bottom a:hover {
    text-decoration: underline;
}
