.header{
        background-color: rgb(212, 47, 47);
    height:10000px ;
    width: 100%;
}
.backgroundimg-div{
    width: 100%;
     background-image:linear-gradient(rgba(110, 106, 102, 0.37),rgba(177, 158, 145, 0.137) ), url(../img/resturant22.jpg);
     background-repeat:no-repeat;
     background-size: cover; 
     height: 680px;
}
.bg-title{
    background-color: red;
    display:inline-block;
     margin-top: 300px; 
     margin-left: 24px;
     font-size: large;
     color:whitesmoke;
    
}
 .bg-text11{
    font-family:Arial, Helvetica, sans-serif;
     font-size: 3em;
    padding-left: 20px;
     padding-top: 0px;


}
.bgtextbtn{
    margin-left: 18px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    
    
}
#menu{
    scroll-behavior: smooth;
}
.menulogo{
    text-align: center;
    background-color: rgb(212, 47, 47);
}
 .card {
margin-left: 20px;
margin-right: 20px; 

}
.col1h1{
    margin: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;

}
.firstcolumn{
    margin-top:30px ;
}
.col1{
justify-items: center;

}
.card1btn{
text-align: right;
margin: 5px;
}
.card1btn :hover{
    background-color:white;
    color: rgb(196, 8, 8);
    border: 2px solid rgb(211, 22, 22)}
